<% layout("/layouts/boilerplate") %>

<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg p-4 rounded-3">
            <h3 class="text-center mb-4">Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" class="form-control" placeholder="Enter title" type="text" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" placeholder="enter description" rows="3" required> </textarea>
                    <div class="invalid-feedback">Please Enter Short Description!</div>
                </div>       
            
                <div class="mb-3">
                    <label for="image" class="form-label"> Upload Image</label>
                    <input name="listing[image]" class="form-control"  type="file" required >
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" class="form-control" placeholder="enter price" required> 
                        <div class="invalid-feedback"> Price Should be valid!</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" class="form-control" placeholder="enter country" type="text" required>
                        <div class="invalid-feedback"> Country Name Should be valid!</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" class="form-control" placeholder="enter location" type="text" required>
                    <div class="invalid-feedback"> Location Should be valid!</div>
                </div>

                <div class="text-left">
                    <button class="btn btn-dark w-20 add-btn">Add Listing</button>
                </div>
            </form>
        </div>
    </div>
</div>
